---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro"; // Use the Astro Navbar we made
import ProjectCard from "../components/ProjectCard.astro";
---

<Layout title="Desty E. Syawfitri - Portfolio">
    <Navbar />

    <main class="max-w-5xl mx-auto px-6 pt-2 pb-6">
        <section class="flex flex-col gap-2 items-start md:h-full">
            <h1 class="text-5xl md:text-7xl font-bold">About Me</h1>
            <article class="flex flex-col gap-2">
                <img src="/media/profile.jpg" alt="" class="md:w-72 w-fit" />
                <div class="flex flex-col gap-0">
                    <p class="font-bold text-xl text-black/25 text-justify">
                        <span class="text-black">UI/UX design and web development enthusiast</span> with hands-on experience in creating intuitive, user-focused interfaces. Skilled in design systems, responsive layouts, and translating research-driven insights into functional, seamless digital experiences.
                    </p>
                </div>
            </article>
        </section>

        <!-- <section id="work">
            <ProjectCard 
                title="Sign Language Translator"
                description="A computer vision app that translates signs into text in real-time."
                tech={['React', 'Laravel', 'AI']}
                image="/images/sign-app.jpg"
            />

            <ProjectCard 
                title="Mobile UI Kit"
                description="A complete design system for a fintech application."
                tech={['Figma', 'UI/UX']}
                image="/images/mobile-ui.jpg"
                reverse={true}
            />
        </section> -->
    </main>
</Layout>
